<header>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <% categories.forEach( cat => { %>
    <li>
      <a href="/category/<%= cat.category_name %>"><%= cat.friendly_name %></a>
    </li>

    <% }) %>
  </ul>
</header>
