<dialog id="add-item-modal">
  <h2></h2>
  <form action="/item/create/<%= cat_name %>" method="post">
    <label for="item-name">Item Name</label>
    <input
      type="text"
      id="item-name"
      name="item-name"
      placeholder="Catan"
      maxlength="255"
      minlength="1"
      required
    />

    <label for="item-category">Category</label>
    <select name="item-category" id="item-category" disabled>
      <% categories.forEach( category => { %>
      <option value="<%= category.id %>"
        <% if( category.category_name === cat_name) { %>  selected <% }%>
        ><%= category.friendly_name %></option> 
      <% }) %>
    </select>

    <label for="item-description">Description</label>
    <textarea
      name="item-description"
      id="item-description"
      placeholder="Epic battle of wits"
      required
    ></textarea>

    <label for="item-price">Price $</label>
    <input
      type="number"
      name="item-price"
      id="item-price"
      placeholder="$100"
      step="0.01"
      required
    />

    <label for="item-stock">Total stocked</label>
    <input
      type="number"
      name="item-stock"
      id="item-stock"
      placeholder="1"
      min="0"
      required
    />

    <div class="btn-container">
      <button type="submit">Add Category</button>
      <button type="button" id="delete-item-btn" class="hidden">
        Delete Item
      </button>
      <button type="button" id="close-modal">Cancel</button>
    </div>
  </form>
</dialog>
